<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserDefineMapper">

    <select id="selectAll" resultType="com.example.demo.entity.UserDefine">
        SELECT * FROM USERDEFINE WHERE 1=1
    </select>

    <select id="selectForUserTest" resultType="com.example.demo.entity.UserTest">
        SELECT id as UID , name as UNAME FROM USERDEFINE WHERE 1=1
    </select>
</mapper>